[run]
source = .
omit =
    tests/*
    */__init__.py
    setup.py
    */site-packages/*
    .venv/*
    venv/*

[report]
fail_under = 70
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError:
    def main
